:root {
    --main-color-red: #C81F34;
}

.footer {
    background-color: var(--main-color-red);
    color: white;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    color: white;
}

.footer_icon {
    text-align: center;
}

.footer_icon a {
    font-size: 25px;
    padding: 10px;
}

.footer_icon a:hover {
    background-color: white;
    color: var(--main-color-red);
}